/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* VARIABLES CSS */
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(300, 3%, 13%);
  --body-color: hsl(199, 47%, 57%);
  --button-color: hsl(45, 42%, 61%);
  --button-color-shadow: hsl(42, 36%, 49%);
  
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto Condensed', sans-serif;
  --title-font: 'Roboto Condensed', serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-medium: 400;
  --font-semi-bold: 700;
 
  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
  
/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}
  
/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
html {
  scroll-behavior: smooth;
}
  
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);  
  color: var(--text-color);
}
  
h1, h2, h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}
  
ul {
  list-style: none;
}
  
a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}
  
/* REUSABLE CSS CLASSES */
.grid{
  display: grid;
  gap: 1.5rem;
}


.main{
  overflow: hidden;
}

/* HEADER & NAV */
.header{
  width: 100%;
  position: fixed;
  left: 0;
  z-index: var(--z-fixed);
}

.nav{
  height: calc(var(--header-height) + .5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(199, 47%, 57%, 0.527);
  box-shadow: 0 4px 20px hsl(199, 56%, 61%);
  padding-inline: 1.5rem;
  margin: 0;
  width: 100%;
}

.nav_logo{
  width: 200px;
  height: 200px;
}

.img_logo{
  width: 2rem;
  height: auto;
  position: fixed;
  bottom: 38rem;
}

.nav_menu{
  display: flex;
  
}

.nav_list{
  display: flex;
  column-gap: 3rem;
}

.nav_link{
  color: var(--text-color);
  font-size: 1.25rem;
}

.active-link{
  color: var(--title-color);
}


/* HOME */
.home{
  background-image: url(../img/home_background.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section{
  width: 100vw;
  height: 100vh;
}

.home_content{
  position: absolute;
  height: inherit;
  width: 30rem;
  margin-left: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  align-items: center;
}


.home_text{
  color: var(--title-color);
  font-size: 4rem;
  font-weight: var(--font-semi-bold);
}

.home_button{
  background-color: var(--button-color);
  color: var(--title-color);
  font-size: var(--h3-font-size);
  box-shadow: 0 4px 1px var(--button-color-shadow);
  border-radius: 50px;
  border: none;
  padding: .5rem;
  cursor: pointer;
}

.home_button:hover{
  cursor: pointer;
  background-color: var(--button-color-shadow);
  box-shadow: none;
}

/* FOOTER */
.footer{
  /* width: 100vw; */
  /* height: auto; */
}

.footer_container{
  text-align: center;
}

.footer_logo{
  width: 2rem;
  height: auto;
}

.footer_list,
.footer_social{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_list{
  column-gap: 2.5rem;
}

.footer_link{
  color: var(--title-color);
}

.footer_link:hover{
  text-decoration: underline;
}

.footer_social{
  column-gap: 1.25rem;
}

.footer_social-link{
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .3s;
}

.footer_social-link:hover{
  transform: translateY(-.15rem);
}

.footer_copy{
  display: block;
  margin-top: .5rem;
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}




/* SCROLL BAR */
::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: .5rem;
  background-color: var(--body-color);
}
  
::-webkit-scrollbar-thumb{
  background-color: var(--title-color);
  border-radius: .5rem;
}
  
::-webkit-scrollbar-thumb:hover{
  background-color: var(--button-color);
}
  